@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgb(111, 0, 255);

body {
    color: #F87474;
    font-family: 'ZCOOL KuaiLe';
	  font-weight: bold;
    text-align: center;
    background-image: linear-gradient(#FBEFEC, #7602FF);
    height:2160px;
    // height: "windowHeight"

}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    font-family: 'ZCOOL KuaiLe';
    background: $primary;
    padding: 1em 0;

    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}
