<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href='https://fonts.googleapis.com/css?family=ZCOOL KuaiLe' rel='stylesheet'>

    <title>Liked</title>
</head>
<header>
  <div class="container">
    <a routerLink="/" class="logo">Pokemon Store</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/sign-in">Sign In</a></li>
        <li><a href="#" routerLink="/product-item-list">Listings</a></li>
        <li><a hgref="#" routerLink='/cart'>Cart</a></li>
      </ul>
    </nav>
  </div>
</header>
<body>
<div class="container">
  <router-outlet></router-outlet>
</div>
