
<body>
  <div>
    <table>
      <tr>
        <td> <img src="https://i.ibb.co/09Lt2hz/809e02a9525b33a390557362fa13a700-sticker.png" alt="Pikachu" height="300" width="300"></td>
        <td> Pikachu <br>
           Price: $350
        </td>
        <td><button type="button">Description</button></td>

        <td> <img src="https://i.ibb.co/YjHvM8h/87312aa15f0aef412610a739d7a04759-sticker.png" alt="Mewtwo" height="300" width="300"></td>
        <td> Mewtwo <br>
           Price: $950
        </td>
        <td><button type="button">Description</button></td>
      </tr>

      <tr>
        <td> <img src="https://i.ibb.co/X48yB92/0d3c053f890fbf3c1f8c1b92aa5d69d2-sticker.png" alt="Dragonite" height="300" width="300"></td>
        <td> Dragonite <br>
           Price: $650
        </td>
        <td><button type="button">Description</button></td>

        <td> <img src="https://i.ibb.co/8jGf79r/b0d70fadfb8a36c3aef2e94e79e80161-sticker.png" alt="Exeggutor" height="300" width="300"></td>
        <td> Exeggutor <br>
           Price: $450
        </td>
        <td><button type="button">Description</button></td>
      </tr>

      <tr>
        <td> <img src="https://i.ibb.co/ZXykCkv/c5a840bc32e4b10407a561fe6cf0920d-sticker.png" alt="Eevee" height="300" width="300"></td>
        <td> Eevee <br>
           Price: $150
        </td>
        <td><button type="button">Description</button></td>

        <td> <img src="https://i.ibb.co/6v5mgrN/db8ed7dab0b387f50d248963947e9e29-sticker.png" alt="Snorlax" height="300" width="300"></td>
        <td> Snorlax <br>
           Price: $850
        </td>
        <td><button type="button">Description</button></td>
      </tr>

      <tr>
        <td> <img src="https://i.ibb.co/tYCDrW3/e4ebd5b78b8bd17f2e7dd05bbeae1269-sticker.png" alt="Meowth" height="300" width="300"></td>
        <td> Meowth <br>
           Price: $300
        </td>
        <td><button type="button">Description</button></td>
      </tr>

    </table>
  </div>
</body>
