<head>
  <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=ZCOOL KuaiLe' rel='stylesheet'> -->
  <title>Home</title>
</head>
<body>
  <div id="main_page" >
      <br>
      Welcome to my Pokemon Store!
  </div>
  <table>
    <tr>
      <td> <img src="https://i.ibb.co/ZTzqxCh/4d0aa78ce5d18d9e63817cbf843634b9-sticker.png" alt="Hello" height="500" width="500"></td>

    </tr>

  </table>



</body>
